
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>
<form method="post" asp-controller="PasswordRecovery" asp-action="PermitChanges">
    <div class="form-group">
        <label for="new_pass">New password:</label>
        <input type="text" class="form-control" name="new_pass">
    </div>
    <input type="hidden" class="form-control" name="user_id" value=@ViewBag.UserId>
    <button type="submit" class="btn btn-default">Apply!</button>
</form>

