
@{
    ViewData["Title"] = "Index";
}
<h1> EmailRecoveryBot</h1>
<form method="post" asp-controller="PasswordRecovery" asp-action="Send">
<div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" name="email">
</div>
<button type="submit" class="btn btn-default">Start!</button>
</form>
<h2>Index</h2>

