@model MVCProject.Models.TeacherTask

@{
    ViewData["Title"] = "Edit";
}

<h2>Редактирование задачи:</h2>
<form method="post" asp-controller="Teacher" asp-action="EditTask" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="task_title">Имя:</label>
        <input type="text" class="form-control" name="task_title" value=@Model.Title>
    </div>
    <div class="form-group">
        <label for="task_text">Text:</label>
        <textarea class="form-control" rows="5" name="task_text">@Model.Text</textarea>
    </div>
    <div class="form-group">
        <label for="inputDate">Окончание работы:</label>
        <input type="date" class="form-control" name="task_date" value=@Model.UnNormilizeDeadline>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Обновить задачу!</button>
    </div>
</form>