@model IEnumerable<MVCProject.Models.FileModel>
@{
    ViewData["Title"] = "ShowFiles";
}

<h2>ShowFiles</h2>
<p>Files count: @ViewBag.Count</p>

@{
    foreach (var f in Model)
    { 
        <p>@f.Name</p>
        <p><img src="@Url.Content(f.Path)"></p>
    }
}

