@model IEnumerable<MVCProject.Models.TeacherTask>
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#subSelect").change(function () {
            //alert($("#subSelect :selected").text());            
            var arr = $("#subSelect :selected").val().split('/');
            var id = arr[0];
            var text = arr[1];
            var date = arr[2];
            $("#submission_sub_id").val(id);
            $("#task").val(text);
            $("#task").show();
            $("#date").val(date);
            $("#date").show();
        });
    });
</script>

@{
    ViewData["Title"] = "CreateSubmission";
}

<h2>CreateSubmission</h2>

<form method="post" asp-controller="Submission" asp-action="AddSubmission">
    <label for="subSelect">Задание:</label>
    <select id="subSelect">
        <option value=""></option>
        @{
            foreach (var item in ViewBag.Tasks)
            {
                <option value="@item.Id/@item.Text/@item.UnNormilizeDeadline">@item.Title</option>
            }
        }
    </select>
<div class="form-group">
     <label for="task_text">Текст задания:</label>
     <textarea class="form-control" readonly rows="5" id="task" name="task_text" style="display:none;"></textarea>
</div> 
<div class="form-group">
      <label for="inputDate">Окончание работы:</label>
      <input type="date" readonly class="form-control" id="date" name="task_date" style="display:none;">
</div>
<div class="form-group">
    <label for="submission_title">Заголовок работы:</label>
    <input type="text" class="form-control" name="submission_title">
</div>
<div class="form-group">
    <label for="submission_text">Поле ввода:</label>
    <textarea class="form-control" rows="5" name="submission_text"></textarea>
</div>    

    <div class="form-group">
        <input type="hidden" class="form-control" id="submission_sub_id" name="discp_id">
    </div>

        <br><br>
        <div>
            <button type="submit" class="btn btn-success">Отправить на проверку!</button>
        </div>
</form>



