@model MVCProject.Models.Submission
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>


<form method="post" asp-controller="Submission" asp-action="ChangeEntity" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="submission_title">Title:</label>
        <input type="text" class="form-control" name="submission_title" value="@Model.Title">
    </div>
    <div class="form-group">
        <label for="submission_text">Text:</label>
        <textarea class="form-control" rows="5" name="submission_text">@Model.Text</textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Отправить!</button>
    </div>
</form>