@{string input_mark = "";}

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#mark").change(function () {
            //alert($("#mark :selected").text());
            $("#input_mark_id").val($("#mark :selected").text());
            //alert($("#mark :selected").text());
        });
    });
</script>


@model MVCProject.Models.Submission
@{
    ViewData["Title"] = "Check";
}
<h2>Check</h2>


<form method="post" asp-controller="Review" asp-action="Check" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="submission_title">Title:</label>
        <input readonly type="text" class="form-control" value="@Model.Title">
    </div>
    <div class="form-group">
        <label for="submission_text">Text:</label>
        <textarea class="form-control" rows="5" readonly >@Model.Text</textarea>
    </div>
    <label for="mark">Mark:</label>
    <select id="mark">
        <option value="1,0">1.0</option>
        <option value="2,0">2.0</option>
        <option value="3,0">3.0</option>
        <option value="4,0">4.0</option>
        <option value="5,0">5.0</option>
    </select>
    <div class="form-group">
        <input type="hidden" class="form-control" id="input_mark_id" name="input_mark">
    </div>
    <div>
        <button type="submit" class="btn btn-success">Отправить!</button>
    </div>
</form>