@{
    ViewData["Title"] = "Index";
}

<h2>Reviews</h2>

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script>

    function init() {
        $.ajax({
            type: "GET",
            url: "/Review/GetJson",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $.each(result, function (i, item) {


                    var row = "<div class='container'>" +
                        "<div class='panel panel-default'>" +
                        "<div class='panel-heading'>" + item.title +
                        "</br>" + " First mark: " + item.firstMark + ", Second mark: " + item.secondMark + ", Third mark: " + item.thirdMark + ", Final mark: " + item.finalMark +
                        "<a href='//localhost:53443/Review/Edit?id=" + item.id + "'>" + " Check" + "</a>" +
                        "</div>" +
                        "<div class='panel-body'>" + `${item.text}` + "</div></div></div>";
                    $('#tblWorkbody').append(row);
                });


            },
            error: function (result) {
                alert('error');
            }
        });
    }

</script>

<body onload="init()">
</body>

<div id="tblWorkbody">

</div>


